*{
    margin:0px;
    padding:0px;
}
body{
    background-color: azure;
}
.box{
    display:flex;
}
#sketch-area{
    display: flex;
    flex-wrap:wrap;
    margin:15px auto 0px auto;/*center*/
    background-color: white;
}
.cell{
    border:1px solid whitesmoke;
}
#features-container{
    font-size:14px;
    text-align:center;
    margin:auto;
}
.slider{
    height:8px;
    margin:10px;
}
#slider-value{
    margin:10px;
}
button{
    padding:5px;
    margin:10px;

}



